<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="invoices">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Invoices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory">
      <ion-icon name="business"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="purchase-orders">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Purchase Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="build"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
