<ion-header>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-img class="backImage"  src="./assets/background.jpeg"></ion-img>

    <ion-card text-center class="loginForm">
        <ion-card-content>
         <ion-list>
           <ion-text>
              <ion-card-title color="warning" >Welcome Back</ion-card-title>
           </ion-text>
           <ion-item>
             <ion-input type="text"></ion-input>
           </ion-item>
           <ion-item>
            <ion-input type="password"></ion-input>
          </ion-item>
          
            <ion-button color="warning" margin-top>Login</ion-button>
            
       
         </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-text text-center color="warning" class="lower-content">Forgot Password?</ion-text>


</ion-content>
